/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --title-shadow: var(--accent-color);
  --section-title-color: var(--accent-color);
  --decorated-zone-color: var(--accent-color);
  --link-shadow: var(--accent-color);
  --rec-color: var(--accent-color);
  --hover-color: rgba(255, 0, 112, 0.4);
  --bg-image: url(../images/cover-image-dark.png);
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  color: var(--text-color);
}

.theme-dark .header__rec {
  display: flex;
}
