/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --title-shadow: var(--accent-color);
  --section-title-color: var(--text-color);
  --decorated-zone-color: var(--text-color);
  --link-shadow: var(--accent-color);
  --rec-color: var(--text-color);
  --hover-color: rgba(50, 49, 45, 0.4);
  --bg-image: url(../images/cover-image-light.png);
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  color: var(--text-color);
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --title-shadow: var(--accent-color);
    --section-title-color: var(--text-color);
    --decorated-zone-color: var(--text-color);
    --link-shadow: var(--accent-color);
    --rec-color: var(--text-color);
    --hover-color: rgba(50, 49, 45, 0.4);
    --bg-image: url(../images/cover-image-light.png);
  }

  .page {
    background-color: var(--bg-color);
    background-image: var(--bg-image);
    color: var(--text-color);
  }

  .header__rec {
    display: none;
  }
}
