/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-normal);
}

/* Декоративные углы */
.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--decorated-zone-color);
  border-block-start: 1px solid var(--decorated-zone-color);
  inset-inline-end: var(--padding-mobile);
  inset-block-start: var(--padding-mobile);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--decorated-zone-color);
  border-block-end: 1px solid var(--decorated-zone-color);
  inset-inline-start: var(--padding-mobile);
  inset-block-end: var(--padding-mobile);
}

/* Header */
.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-block-size: 668px;
  block-size: 100vh;
  padding: var(--padding-mobile);
}

.header__rec {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 8px;
  inset-inline-end: calc(var(--padding-mobile) + 9px);
  inset-block-start: var(--padding-mobile);
  color: var(--rec-color);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  text-transform: uppercase;
}

.header__rec::after {
  content: '';
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--rec-color);
  box-shadow: 0 0 4px 2px var(--rec-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  margin-block-start: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 0 13px;
  background-color: transparent;
  color: var(--decorated-zone-color);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  text-transform: lowercase;
  cursor: pointer;
  transition: border-color 0.3s;
}

.header__theme-menu-button:hover {
  border-color: var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-color: var(--decorated-zone-color);
  outline: none;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border-color: var(--decorated-zone-color);
}

.header__title {
  align-self: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--font-weight-bold);
  line-height: 0.825;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--title-shadow);
}

.header__text {
  align-self: center;
  max-inline-size: 355px;
  font-weight: var(--font-weight-bold);
}

/* Title decor */
.title-decor {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px var(--padding-mobile);
}

/* Section */
.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__title {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  color: var(--section-title-color);
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Article */
.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article__title {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  margin-block-end: 10px;
}

.article__text {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

/* Links */
a {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-shadow);
  transition: border-color 0.3s;
}

a:hover {
  border-block-end: 1px solid currentColor;
}

a:focus {
  outline: none;
}

a:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 2px;
}

/* Gallery */
.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery__title {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  color: var(--section-title-color);
  margin-block-end: 10px;
}

.gallery__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery__image {
  inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  object-position: center;
}

/* Footer */
.footer {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  place-items: center;
  min-block-size: 668px;
  block-size: 100vh;
  padding: var(--padding-mobile);
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--font-weight-bold);
  line-height: 0.825;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--title-shadow);
}

.footer__text {
  max-inline-size: 355px;
  font-weight: var(--font-weight-bold);
  text-align: center;
}

/* Tablet */
@media (width >= 768px) {
  .decorated-zone::before {
    inset-inline-end: var(--padding-tablet);
    inset-block-start: var(--padding-tablet);
  }

  .decorated-zone::after {
    inset-inline-start: var(--padding-tablet);
    inset-block-end: var(--padding-tablet);
  }

  .header {
    padding: var(--padding-tablet);
  }

  .header__rec {
    inset-inline-end: calc(var(--padding-tablet) + 9px);
    inset-block-start: var(--padding-tablet);
  }

  .header__theme-menu {
    margin-block-start: 173px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }

  .header__text {
    max-inline-size: 364px;
    justify-self: end;
  }

  .main {
    gap: 80px;
    padding: 60px var(--padding-tablet);
  }

  .section {
    gap: 20px;
  }

  .section__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section__content .article:first-child {
    grid-column: 1 / -1;
  }

  .section:nth-of-type(4) .section__content {
    grid-template-columns: 1fr;
  }

  .gallery__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .gallery__image:first-child {
    grid-column: 1 / -1;
  }

  .gallery__image:nth-child(2) {
    grid-column: 1;
  }

  .gallery__image:nth-child(3) {
    grid-column: 2;
  }

  .gallery__image:nth-child(4) {
    grid-column: 1;
  }

  .gallery__image:last-child {
    grid-column: 2;
  }

  .footer {
    padding: var(--padding-tablet);
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer__text {
    max-inline-size: 364px;
  }
}

/* Desktop */
@media (width >= 1024px) {
  .decorated-zone::before {
    inset-inline-end: var(--padding-desktop);
    inset-block-start: var(--padding-desktop);
  }

  .decorated-zone::after {
    inset-inline-start: var(--padding-desktop);
    inset-block-end: var(--padding-desktop);
  }

  .header {
    padding: var(--padding-desktop);
  }

  .header__rec {
    inset-inline-end: calc(var(--padding-desktop) + 9px);
    inset-block-start: var(--padding-desktop);
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-block-start: 0;
    margin-inline-start: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .header__text {
    max-inline-size: 491px;
  }

  .main {
    padding: 60px var(--padding-desktop);
  }

  .section__content {
    gap: 20px;
  }

  .section:first-of-type .section__content {
    grid-template-columns: repeat(3, 1fr);
  }

  .section:first-of-type .section__content .article:first-child {
    grid-column: 1 / 3;
  }

  .section:nth-of-type(2) .section__content {
    grid-template-columns: repeat(3, 1fr);
  }

  .section:nth-of-type(3) .section__content {
    grid-template-columns: repeat(3, 1fr);
  }

  .section:nth-of-type(4) .section__content {
    grid-template-columns: 1fr;
  }

  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__image:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  .gallery__image:nth-child(2) {
    grid-column: 3;
    grid-row: 1;
  }

  .gallery__image:nth-child(3) {
    grid-column: 3;
    grid-row: 2;
  }

  .gallery__image:nth-child(4) {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .gallery__image:last-child {
    grid-column: 1;
    grid-row: 3;
  }

  .footer {
    padding: var(--padding-desktop);
  }
}
