/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  /* Цвета */
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --title-shadow: var(--accent-color);
  --section-title-color: var(--accent-color);
  --decorated-zone-color: var(--accent-color);
  --link-shadow: var(--accent-color);
  --rec-color: var(--accent-color);
  --hover-color: rgba(255, 0, 112, 0.4);

  /* Фоновое изображение */
  --bg-image: url(../images/cover-image-dark.png);

  /* Шрифты */
  --font-family: 'IBM Plex mono', monospace;
  --font-size-base: 18px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --line-height-base: 1.3;

  /* Отступы */
  --padding-mobile: 10px;
  --padding-tablet: 20px;
  --padding-desktop: 20px;
}
